---
// Header.astro
---

<nav class="">
    <div class="flex justify-center items-center mx-auto max-w-7xl p-5 px-2 sm:px-6 lg:px-8">
        <a href="/">
            <h1 class="font-mouse font-semibold text-5xl tracking-wide">InstaSLEUTH</h1>
        </a>
    </div>
</nav>