---
// Header.astro
---

<nav class="">
    <div class="flex justify-center items-center mx-auto max-w-7xl p-5 px-2 sm:px-6 lg:px-8">
        <h1 class="font-script font-bold text-4xl">IGSleuth</h1>
    </div>
</nav>