---
// Header.astro
---

<nav>
    <div class="flex justify-center items-center max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <a href="/">
            <h1 class="font-mouse font-semibold text-3xl md:text-5xl tracking-wide">
                InstaSLEUTH
            </h1>
        </a>
    </div>
</nav>