@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", sans-serif;
    --font-script: "Luckiest Guy", cursive;
    --font-mouse: "Mouse Memoirs", sans-serif;
    --color-accent: #4a5df9;
    --color-success: #58c322;
    --color-danger: #ed4956;
    --color-warning-ig: #e8a317;
}
