---
// index.astro
// import FeatureHighlights from "../components/landing/FeatureHighlights.astro";
// import FinalCta from "../components/landing/FinalCta.astro";
import Hero from "../components/landing/Hero.astro";
// import PrivacyCallout from "../components/landing/PrivacyCallout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="max-w-3xl mx-auto w-full flex flex-col gap-8">
        <Hero />
        <!-- <DashboardPreview /> -->
        <!-- <FeatureHighlights />
        <PrivacyCallout />
        <FinalCta /> -->
    </div>
</BaseLayout>